In [1]:
import pandas as pd
import numpy as np

def CalcKLD(P, Q):
    epsilon = 0.0001
    P = P + epsilon
    Q = Q+ epsilon
    divergence = np.sum(P*np.log(P/Q))
    return divergence

def PairwiseKLD(data):
    KL = np.zeros ((len(data.columns),len(data.columns)))
    KLD = pd.DataFrame(KL).T
    KLD.index = data.columns
    KLD.columns = data.columns
    for i in data.columns:
        for j in data.columns:
            KLD[i][j]=CalcKLD(data[i].values/np.sum(data[i].values), data[j].values/np.sum(data[j].values))
    return KLD

In [2]:
pdf = pd.read_csv('pdf.csv', index_col=0)

In [5]:
result = PairwiseKLD(pdf)

In [6]:
result

,CHEMBL4303,CHEMBL4153,CHEMBL339,CHEMBL4142,CHEMBL2056,CHEMBL1667684,CHEMBL2842
CHEMBL4303,0.000000,0.782592,0.260624,0.547167,0.179113,1.758056,0.264272
CHEMBL4153,0.608681,0.000000,0.548674,0.675387,0.871620,1.165081,0.555433
CHEMBL339,0.284276,0.895443,0.000000,0.707890,0.668772,2.379979,0.035199
CHEMBL4142,0.647683,1.093324,0.407179,0.000000,1.395917,0.993345,0.278773
CHEMBL2056,0.210855,1.349562,0.554583,1.518874,0.000000,3.542847,0.632693
CHEMBL1667684,3.164374,1.463141,2.229730,1.344184,4.292231,0.000000,2.132429
CHEMBL2842,0.327753,0.838659,0.032919,0.408988,0.818865,1.924401,0.000000

# [1]Example Target Classes having Small Numbers of Ligands: Q3,Q13

In [10]:
result.loc[['CHEMBL4153','CHEMBL1667684' ]][['CHEMBL4153','CHEMBL1667684' ]]

               CHEMBL4153  CHEMBL1667684
CHEMBL4153       0.000000       1.165081
CHEMBL1667684    1.463141       0.000000

# [2]Example Target Classes having Sim PDF far from Gaussian : Q2  Q10 Q14

In [11]:
result.loc[['CHEMBL4303','CHEMBL4142', 'CHEMBL2842' ]][['CHEMBL4303','CHEMBL4142', 'CHEMBL2842' ]]

            CHEMBL4303  CHEMBL4142  CHEMBL2842
CHEMBL4303    0.000000    0.547167    0.264272
CHEMBL4142    0.647683    0.000000    0.278773
CHEMBL2842    0.327753    0.408988    0.000000

# [3]Example Similar Target Classes sharing Endogeous Ligands: Q5 Q11

In [12]:
result.loc[['CHEMBL339','CHEMBL2056' ]][['CHEMBL339','CHEMBL2056' ]]

            CHEMBL339  CHEMBL2056
CHEMBL339    0.000000    0.668772
CHEMBL2056   0.554583    0.000000